<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->


<!--    <link rel="stylesheet" href="__STATIC__/weui+/css/weui.css"/>-->
<!--    <link rel="stylesheet" href="__STATIC__/weui+/css/weuix.css"/>-->

<!--    <script src=""__STATIC__/weui+/js/zepto.min.js"></script>-->
<!--    <script src="__STATIC__/weui+/js/zepto.weui.js"></script>-->

<!--</head>-->
<!--<body>-->
<!--<div class="weui-footer weui-footer_fixed-bottom">-->
<!--    <p class="weui-footer__text">Copyright &copy; 半颗心脏</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>炫酷js和CSS3鼠标跟随图片序列动画特效|DEMO1_jQuery之家-自由分享jQuery、html5、css3的插件库</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/base.css" />

        <link rel="stylesheet" href="__STATIC__/weui+/css/weui.css"/>
        <link rel="stylesheet" href="__STATIC__/weui+/css/weuix.css"/>

        <script src=""__STATIC__/weui+/js/zepto.min.js"></script>
        <script src="__STATIC__/weui+/js/zepto.weui.js"></script>
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
</head>
<body class="demo-1 loading">
<main>
    <div class="message">小徐网站.</div>
    <div class="frame">
        <h2 class="frame__pagetitle">小徐网站<span>Personality Stylist</span></h2>
    </div>
    <div class="content">
        <img class="content__img" src="__STATIC__/index/img/1.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/2.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/3.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/4.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/5.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/6.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/7.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/8.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/9.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/10.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/11.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/12.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/13.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/14.jpg" alt="Some image" />
        <img class="content__img" src="__STATIC__/index/img/15.jpg" alt="Some image" />
        <h3 class="content__title">llssmmhh</h3>
    </div><!--/content-->

    <div class="weui-footer weui-footer_fixed-bottom">
        <a href="http://www.beian.miit.gov.cn">Copyright@徐宏 &copy; 粤ICP 备案号：17150340</a>
    </div>
</main>
<script src="__STATIC__/index/js/imagesloaded.pkgd.min.js"></script>
<script src="__STATIC__/index/js/TweenMax.min.js"></script>
<script src="__STATIC__/index/js/demo.js"></script></body>
</html>